sudo: false
language: java
dist: trusty

jdk:
  - oraclejdk8
cache:
  directories:
    - .autoconf
    - "$HOME/.m2"
install: 
  - mvn install -DskipTests=true -Dgpg.skip=true -Dmaven.javadoc.skip=true -B -V
script:
  - mvn test jacoco:report
after_success:
  - mvn coveralls:report

notifications:
  email: false

# whitelist
branches:
  only:
    - master

