//
// Code and syntax highlighting
//
// stylelint-disable selector-no-qualifying-type, declaration-block-semicolon-newline-after,declaration-block-single-line-max-declarations, selector-no-type, selector-max-type

code {
  padding: 0.2em 0.15em;
  font-weight: 400;
  background-color: $code-background-color;
  border: $border $border-color;
  border-radius: $border-radius;
}

pre.highlight,
figure.highlight {
  padding: $sp-3;
  margin-bottom: 0;
  -webkit-overflow-scrolling: touch;
  background-color: $code-background-color;

  code {
    padding: 0;
    border: 0;
  }
}

.highlighter-rouge {
  margin-bottom: $sp-3;
  overflow: hidden;
  border-radius: $border-radius;
}

.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */

.highlight .k { color: #0d968e; font-weight: bold } /* Keyword */
.highlight .kc { color: #0d968e; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #0d968e; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #0d968e; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #0d968e; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #0d968e; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #0d968e; font-weight: bold } /* Keyword.Type */

.highlight .c { color: #6a737d; font-style: italic } /* Comment */
.highlight .cm { color: #6a737d; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #6a737d } /* Comment.Preproc */
.highlight .c1 { color: #6a737d; font-style: italic } /* Comment.Single */
.highlight .cs { color: #6a737d; font-weight: bold } /* Comment.Special */

.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */

.highlight .n { color: #333 } /* Name */
.highlight .na { color: #BA2121 } /* Name.Attribute */
.highlight .nt { color: #000080; font-weight: bold } /* Name.Tag */

.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */

.highlight .m { color: #005cc5 } /* Literal.Number */
.highlight .s { color: #008800 } /* Literal.String */
.highlight .mf { color: #005cc5 } /* Literal.Number.Float */
.highlight .mh { color: #005cc5 } /* Literal.Number.Hex */
.highlight .mi { color: #005cc5 } /* Literal.Number.Integer */
.highlight .mo { color: #005cc5 } /* Literal.Number.Oct */
.highlight .sb { color: #005cc5 } /* Literal.String.Backtick */
.highlight .sc { color: #005cc5 } /* Literal.String.Char */
.highlight .sd { color: #005cc5 } /* Literal.String.Doc */
.highlight .s2 { color: #005cc5 } /* Literal.String.Double */
.highlight .se { color: #005cc5 } /* Literal.String.Escape */
.highlight .sh { color: #005cc5 } /* Literal.String.Heredoc */
.highlight .si { color: #005cc5 } /* Literal.String.Interpol */
.highlight .sx { color: #005cc5 } /* Literal.String.Other */
.highlight .sr { color: #005cc5 } /* Literal.String.Regex */
.highlight .s1 { color: #005cc5 } /* Literal.String.Single */
.highlight .ss { color: #005cc5 } /* Literal.String.Symbol */
.highlight .il { color: #005cc5 } /* Literal.Number.Integer.Long */

//
// Code examples (rendered)
//

.code-example {
  padding: $sp-3;
  margin-bottom: $sp-3;
  overflow: auto;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  + .highlighter-rouge,
  + figure.highlight {
    position: relative;
    margin-top: -$sp-4;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
